* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}



header {
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2)), url("pexels-muffin-creatives-2468773.jpg");
    background-size: cover;

}

nav {
    width: 100%;
    height: 100px;
    color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    font-size: 2rem;
    letter-spacing: 2px;
    color: white;
}

.menu a {
    margin: 20px;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 20px;
}

.menu a:hover {
    color: rgb(101, 107, 209);
}

.register a {
    margin: 20px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 10px 20px;
    font-size: 20px;
    background: indianred;
    border-radius: 8px;
    border: solid 2px;
}

.register a:hover {
    background: transparent;
    border: solid green 2px;
}

.h-txt {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#agency {
    margin: 13%;
    color: white;
}

#agency a:hover {
    background: transparent;
    border: solid 2px green;
}

h1 {
    font-size: 3rem;
}

span {
    font-size: 1.5rem;
}

#agency a {
    text-decoration: none;
    background-color: indianred;
    color: white;
    padding: 10px;
    letter-spacing: 5px;
}


footer {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

}